<div class="row dashboard-container">
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 3333' srcImage='../../../assets/gifs/gif1.gif'></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
  <!-- <img id="angular-logo" alt="Angular Logo" src="../../../assets/gifs/gif1.gif"> -->

</div>
