<div class="row dashboard-container">
  <!-- widget 1 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 1'></app-widget-wrapper>

   <!-- widget 2 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2'></app-widget-wrapper>

   <!-- widget 3 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2'></app-widget-wrapper>

   <!-- widget 4 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Gif' contentText="Gif from internet">
    <img class="extra-content" alt="Gif" src="../../../assets/gifs/gif1.gif">
  </app-widget-wrapper>

   <!-- widget 5 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2">
    <app-graph></app-graph>
  </app-widget-wrapper>

   <!-- widget 6 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>

   <!-- widget 7 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>

   <!-- widget 8 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>

   <!-- widget 9 -->
  <app-widget-wrapper class="col-12 col-sm-6 col-lg-4" title='Titulo 2' contentText="Content 2"></app-widget-wrapper>
</div>
