.widget-wrapper {
    background-color: #ffffff;
    border: 2px solid crimson;
    height: 25vh;
    margin: 0;
}

.title-container {
    height: 10%;
    width: 100%;
    margin: 0;
}

.content-container {
    height: 90%;
    width: 100%;
    margin: 0;
}